* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  display: flex;
  width: 50px;
  box-sizing: border-box;
}

.trybewarts-header-title {
  display: flex;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  align-self: auto;
  height: 500px;
}

#input-name-and-lastname { /* Requisito 10 */
  display: flex;
  flex-direction: row;
}

#input-email-and-house { /* Requisito 11 */
  display: flex;
  flex-direction: row;
}

#content {
  display: flex;
  flex-direction: column;
}

#rate {
  display: flex;
  flex-direction: row;
}